:root {
  --main-background-color: #ffffff;
  --secondary-background-color: rgba(0, 0, 0, 0.56);
  --input-background-color: rgba(0, 0, 0, 0);
  --main-text-color: #000000;
  --text-color-white: #ffffff;
  --text-color-error: #ff001b;
  --accent-color: #ff6b08;
  --bgc-btn-pagination: #f7f7f7;
}
