:root {
  --main-background-color: #ffffff;
  --secondary-background-color: rgba(0, 0, 0, 0.561);
  --input-background-color: rgba(0, 0, 0, 0);
  --main-text-color: #000000;
  --text-color-white: #ffffff;
  --text-color-error: #ff001b;
  --accent-color: #ff6b08;
  --bgc-btn-pagination: #f7f7f7;
  --close-color: #123;
  --grey: #8c8c8c;
  --footer-text: #545454;

  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
