<section class="section section__pagination">
  <div class="container">
    <h2 class="title visually-hidden">Nunber of pages</h2>
    <div class="pagintion">
      <button
        type="button"
        class="pagintion__btn pagintion__btn--pref is-hidden"
      >
        <svg class="icon" width="16" height="16">
          <use href="./images/sprite/icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
      <ul class="pagination-list"></ul>
      <button
        type="button"
        class="pagintion__btn pagintion__btn--next is-hidden"
      >
        <svg class="icon" width="16" height="16">
          <use href="./images/sprite/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
